
.curseclient

.fabric/

mods/

logs/

ModTranslations/

crash-reports/

saves/

XaeroWaypoints/

XaeroWaypoints_BACKUP032021/

XaeroWorldMap/

ds_private_storage.json

imm_ptl_state.json

knownkeys.txt

minecraftinstance.json

patchouli_data.json

polymer-resourcepack.zip

realms_persistence.json

usercache.json

servers.dat

options.txt
